.registration-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: url("../../../assets/images/airline_image2.png");
  background-repeat: no-repeat;
  background-size: cover;
}

form {
  width: 22.75rem;
  margin: 1.25rem;
  padding: 1.25rem;
  border-radius: 0.313rem;
  background-color: rgb(170, 170, 170, 0.7);
}

form h2 {
  text-align: center;
  margin: 1rem 0;
}

.form-group {
  margin-bottom: 0.938rem;
}

label {
  display: block;
  margin-bottom: 0.313rem;
}

input {
  width: 100%;
  padding: 0.5rem;
  box-sizing: border-box;
  border: 0.063rem solid var(--var-gray-color);
  border-radius: 0.25rem;
}

button {
  background-color: var(--var-green-color);
  color: var(--var-white-color);
  padding: 0.625rem;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
}

button:disabled {
  background-color: var(--var-gray-color);
  cursor: not-allowed;
}

input.ng-invalid.ng-touched {
  border: var(--var-red-color) 0.1rem solid;
}

small {
  color: var(--var-red-color);
  font-weight: bolder;
}
