<div class="login-container">
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <h2>User Login</h2>
    <div class="form-group">
      <label for="username">Email:</label>
      <input type="text" id="username" formControlName="email" required />
      <small *ngIf="isValid('email', 'required')">
        *Email must be provided.
      </small>
      <small *ngIf="isValid('email', 'pattern')"> *Email not valid. </small>
    </div>

    <div class="form-group">
      <label for="password">Password:</label>
      <input
        type="password"
        id="password"
        formControlName="password"
        required
      />
      <small
        *ngIf="isValid('password', 'required')"
      >
        *Password must be provided.
      </small>
    </div>

    <div class="button-wrapper">
      <button type="submit" [disabled]="loginForm.invalid">Login</button>
      <button type="button" [routerLink]="'/registration'">Register</button>
    </div>
  </form>
</div>
