/* You can add global styles to this file, and also import other style files */

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@import "~@fortawesome/fontawesome-free/css/all.min.css";

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --var-red-color: #ff4040;
  --var-blue-color: #007bff;
  --var-gray-color: #747474;
  --var-white-color: #fff;
  --var-green-color: #4caf50;
}
