<div class="overlay">
    <div class="popup">
      <h2>Create Booking</h2>
      <button class="close" (click)="onCloseForm()">&times;</button>
      <div class="content">
        <section class="container">
          <form class="form" [formGroup]="bookingForm" (ngSubmit)="onFormSubmitted()">
            <div class="input-box">
              <label>Seats*</label>
              <input type="number" formControlName="bookedSeats" />
              <small *ngIf="
                  isValid('bookedSeats', 'required') ||
                  isValid('bookedSeats', 'min')
                ">
                *Number of seats must be provided and should be greater than 0
              </small>
            </div>
            <button type="submit" [disabled]="bookingForm.invalid">Add</button>
          </form>
        </section>
      </div>
    </div>
  </div>